[submodule "mgsfontgen-dx"]
	path = mgsfontgen-dx
	url = https://github.com/CommitteeOfZero/mgsfontgen-dx.git
	branch = master
[submodule "sc3tools"]
	path = sc3tools
	url = https://github.com/CommitteeOfZero/sc3tools.git
[submodule "cc-scripts"]
	path = cc-scripts
	url = https://github.com/CommitteeOfZero/cc-scripts.git
	branch = honorifix-2.0
[submodule "installer/noidget"]
	path = installer/noidget
	url = https://github.com/CommitteeOfZero/noidget.git
[submodule "cc-script-patches"]
	path = cc-script-patches
	url = https://github.com/CommitteeOfZero/cc-script-patches.git
    branch = steam
[submodule "launcher/realboot"]
	path = launcher/realboot
	url = https://github.com/CommitteeOfZero/realboot.git
[submodule "LanguageBarrier"]
	path = LanguageBarrier
	url = https://github.com/CommitteeOfZero/LanguageBarrier.git
